footer {
  position: relative;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  background-color: #000;
  color: #ccc;
  font-size: 12px;
}

.footer-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 16px;
}

@media (max-width: 480px) {
  footer {
    font-size: 10px;
  }
  footer p {
    width: 200px;
  }
}
