.lineUnderAboutUs {
    height: 4px;
    width: 100%;
    background-color: #f2c94c;
  }

  .aboutUs_description {
    width: 474px;
    text-align: justify;
  }

  .aboutUs {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .restaurant_photo {
    align-content: end;
    margin-right: 20px;
  }

  .aboutUs_title {
    font-size: xx-large;
  }
