.mainTop {
  height: 1024px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* row-gap: 22px; */
  background-image: url("../images/Rectangle_2.png"),
    url("../images/wood-2045380_1920.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.lineUnderBrandName {
  height: 4px;
  width: 482px;
  justify-content: center;
  background-color: #f2c94c;
  /* border: 1px solid yellow"; */
}

.brandDescription {
  height: 201px;
  width: 745px;
  /* border: 2px solid burlywood; */ 
  color: white;
  font-family: "Quattrocento", serif;
  /* font-size: 28px; */
  text-align: justify;
}

.branName {
  /* height: 67px; */
  width: 100vw;
  /* border: 2px solid burlywood; */
  text-align: center;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 72px;
  font-weight: bold;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .mainTop {
    width: 80%;
    height: 80%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    /* margin-top: 30px;
    margin-left: 0; */
  }

  .img{
    height: 5%;
    width: 5%;
  }
}