.ourMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_ourMenu {
    font-size: xx-large;
}

.lineUnderOurMenu {
    height: 4px;
    width: 482px;
    background-color: #f2c94c;
}

.ourMenu_description {
    font-size: 20px;
    text-align:center;
    margin-left: 200px;
    margin-right: 200px;
}