.mainTop {
  height: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  background-image: url("../images/Rectangle_2.png"),
    url("../images/wood-2045380_1920.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.lineUnderBrandName {
  height: 4px;
  width: 482px;
  justify-content: center;
  background-color: rgb(242, 201, 76);
  margin-bottom: 20px;
}

.brandDescription {
  height: 201px;
  width: 745px;
  color: white;
  font-family: "Quattrocento", serif;
  text-align: center;
}

.brandName {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.brandName h1 {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .mainTop {
    height: 70vh;
    padding: 15px;
  }

  .brandName {
    font-size: 24px;
  }

  .brandName h1 {
    font-size: 25px;
  }

  .brandDescription {
    width: 90%;
    font-size: 16px;
  }

  .lineUnderBrandName {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .mainTop {
    padding-top: 110px;
    width: 100%;
    padding: 10px;
    background-position: center;
    justify-content: flex-start;
    align-items: center;
  }

  .brandName {
    font-size: 18px;
    width: 40%;
    text-align: center;
  }

  .brandDescription {
    width: 70%;
    font-size: 10px;
    text-align: center;
    line-height: 1.4;
  }

  .lineUnderBrandName {
    width: 50%;
  }

  .mainTop img {
    width: 80%;
    height: auto;
  }
}
