.mainBottom {
  height: 1024px;
  margin: 0, auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/wood-2045380_1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
}

.lineUnderBrandName2 {
  height: 4px;
  width: 482px;
  justify-content: center;
  background-color: #f2c94c;
}

.brandName2 {
  display: flex;
  width: 990px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Quattrocento", serif;
  color: white;
  font-size: 72px;
  font-weight: bold;
}

.brandName2 h2 {
  margin-bottom: 25px;
}

.contactsList {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: baseline;
  margin-left: 0;
}

.contactsIcon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.contactsIcon:hover {
  transform: scale(1.25);
}

.contactsListItem:not(:last-child) {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .mainBottom {
    height: 70vh;
    padding: 15px;
  }

  .brandName2 {
    font-size: 36px;
  }

  .brandName2 h2 {
    font-size: 32px;
  }

  .lineUnderBrandName2 {
    width: 60%;
  }

  .contactsIcon {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .mainBottom {
    padding-top: 50px;
    width: 100vw;
    /* width: 100%; */
    padding: 10px;
    background-position: center;
    justify-content: flex-start;
    align-items: center;
  }

  .brandName2 {
    font-size: 20px;
    width: 40%;
    text-align: center;
  }

  .pizza {
    width: 80%;
  }

  .lineUnderBrandName2 {
    width: 50%;
  }
  .contactsList {
    flex-direction: row;
    justify-content: center;
  }

  .contactsListItem:not(:last-child) {
    margin-bottom: 5px;
  }

  .contactsIcon {
    width: 20px;
    height: 20px;
  }
}
