.title_ourMenu {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.ourMenu_description {
    font-size: 20px;
    text-align:center;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}